data/
*/slurm_logs/*
*.pt
.venv/
*.egg-info/
__pycache__/
data_leakage/
analysis/cell_scaling_different_hyperparams/
analysis/noise_scaling_different_hyperparams/
old/
analysis/cell_scaling/
analysis/noise_scaling/
analysis/intermediate_cell_scaling_fits/
analysis/intermediate_fits_noise_scaling/