crick
latentmi
ipykernel
scvi-tools
anndata>=0.11
datasets>=2.12
loompy>=3.0
matplotlib>=3.7
numpy>=1.26.4
optuna>=3.6
optuna-integration>=3.6
packaging>=23.0
pandas>=2.2.2
peft=0.11.1
pyarrow>=12.0
pytz>=2023.0
ray>=2.6
scanpy>=1.9
scikit-learn>=1.2
scipy>=1.13.1
seaborn>=0.12
statsmodels>=0.14
tdigest>=0.5.2
tensorboard>=2.15
torch>=2.0.1
tqdm>=4.66.3
transformers=4.40
wandb
h5py>=3.11.0
numcodecs>=0.13.0
zarr>=2.18.2
requests>=2.32.1
numba>=0.6.1
pynvml